.PlayListModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 20px;
  border-radius: 3px;
}

.Album-header {
  font-weight: bold;
  padding-bottom: 10px;
}

.close-modal {
  cursor: pointer;
  margin-left: 95%;
}
