.App {
  display: flex;
  height: 100vh;
  background-color: black;
  flex-wrap: wrap;
  margin: 30px;
}

.App:nth-child(1) {
  justify-content: flex-end;
  margin-right: 50px;
  height: fit-content;
}

#search {
  border-radius: 9px;
}
